body {
  font-family: "Segoe UI", Arial, sans-serif;
  background: #b2f7ef;
  margin: 0;
  padding: 0;
  color: #333;
}

header {
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
}

nav {
  background: linear-gradient(90deg, #0b7285, #17a2b8);
}

footer {
  color: white;
  background: linear-gradient(-90deg, #0b7285, #17a2b8);
  padding-top: 5px;
  margin-top: 20px;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 50px 0;
}

@media (max-width: 768px) {
  .footer-content {
    flex-direction: column;
    text-align: center;
    margin: 10px 20px 0;
    gap: 10px;
  }
}

.btn-toska {
  background-color: #009688;
  color: white;
  border: none;
  border-radius: 6px;
  font-weight: bold;
  padding: 10px 18px;
  text-decoration: none;
  display: inline-block;
  transition: 0.3s;
}
.btn-toska:hover {
  background-color: #00796b;
  color: #fff;
}

.service-box {
  background: #ffffffd9;
  border-radius: 10px;
  padding: 25px;
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.1);
}
.service-item {
  background: #e6fefb;
  border-left: 5px solid #40b5ad;
  border-radius: 8px;
  padding: 15px;
  margin-bottom: 15px;
}
.service-item h3 {
  color: #009688;
}

.guide-box {
  background: #ffffffd9;
  border-radius: 10px;
  padding: 25px;
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.15);
}
.guide-box li {
  background: #e8fefc;
  margin-bottom: 10px;
  padding: 10px 15px;
  border-left: 5px solid #40b5ad;
  border-radius: 6px;
  font-size: 15px;
}

.guide-box h2 {
  color: #009688;
}
